* {
   margin: 0;
    padding: 0;
}

body {
    background: url(/image/shutterstock_400761526.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.box {
    max-width: 100%;
    height: 80px;
    background-color: rgba(0, 0,0, 0.1);
    display: flex;
    justify-content: space-between;
}

h1  {
    margin-left: 100px;
    color: white;
    padding: 20px 0 0 40px;
    font-family: sans-serif;
}

.search {
    margin-right: 150px;
    display: flex;
    float: right;
    align-self: center;
}

.search input[type="search"] {
    width: 250px;
    height: 35px;
    margin-right: 20px;
    border-radius: 20px;
    border-style: none;
    padding-left: 20px;
    outline: none;
    box-shadow: 0.5px 0.5px 4px;
    
    
}

.search input[type="search"]:hover {
    color: white;
    background-color:rgba(0,0,0, 0.1); 
}

.btn-search:hover {
    color: white;
    background-color:rgba(0, 0,0, 0.1); 
    cursor: pointer;
}

.btn-search {
    padding: 8px;
    border-radius: 20px;
    border-style: none;
    background-color: aqua;
    font-weight: bold;
    outline: none;
    box-shadow: 0.5px 0.5px 4px;
}

/* Add a black backgroud color to the top navigation */
.topnav {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #333;
    overflow: hidden;
    border-radius: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: aqua;
    color: black;
}
